h1 {
	border-radius: 5px;
	box-shadow: 10px;
	opacity: 0.8;

    //transform: translate(120%);
}


@import 'common/variables';


@import 'common/base';
@import 'design/layout';
@import 'design/modules';
@import 'design/typography';

img {
	width: 400px;
	height: 400px;
}




// WEBPACK FOOTER //
// webpack:///source/scss/main.scss